


# /etc/ntp.conf, configuration for ntpd

# Use servers from the Asia pool
server 0.asia.pool.ntp.org
server 1.asia.pool.ntp.org
server 2.asia.pool.ntp.org
server 3.asia.pool.ntp.org

# By default, exchange time with everybody, but don't allow configuration.
restrict default kod nomodify notrap nopeer noquery

# Local users may interrogate the ntp server more closely.
restrict 127.0.0.1
restrict ::1

# Specify additional settings if needed
driftfile /var/lib/ntp/drift

